.work_wrap {
	float: left;
	width: 100%;
    background: #111430;
    position: relative;
}
.work_title {
	font-size: 34px;
	text-align: center;
    padding: 60px 0;
    font-weight: 600;
    color: #fff; 
}
.work_title span {
	color: #7AB259;
}
.work_crs img {
	width: 100%;
	height: 310px;
	padding: 23px;
}
.work_carosal_wrap {
	padding-bottom: 100px;
}
.slick-dots li button::before {
	font-size: 10px;
}
.slick-dots {
	bottom: 0px;
	bottom: -60px;
}
.slick-dots li.slick-active button::before {
	opacity: 1;
	color: #FBD062;
}
.slick-dots li button::before {
	opacity: 1;
	color: #242a65;
	font-size: 15px;
}
