.footer_wrap {
	background: #FBD062;
	padding-top: 50px;
	padding-bottom: 30px;
}
.mail_info h2 {
	font-size: 34px;
	font-weight: 600;
	color: #2D2D2D;
}
.mail_info p {
	font-weight: 300;
}
.mail_info {
	padding-right: 101px;
	padding-left: 50px;
}
.message_form input, .message_form textarea {
	float: left;
	width: 100%;
	border: none;
	padding: 13px 10px;
	margin-bottom: 15px;
	border-radius: 4px;
}
.message_form input::placeholder, .message_form textarea::placeholder { color: #b3b3b3 }
 .message_form textarea {min-height: 200px; }

 .message_form button {
	padding: 8px 50px;
}
.copyright {
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	padding-top: 120px;
}