.fwidth {float: left; width: 100%}
.left {float: left;}
.right {float: right;}
.space {padding-bottom: 150px; }
button{font-family: 'Roboto', sans-serif; outline: none; cursor: pointer;}
.error404 {
	text-align: center;
	font-size: 40px;
	color: red;
	margin-top: 121px;
}
textarea:focus, input:focus, a{ outline: none;}